{% extends "starbase.html" %}
{% load server_tags %}
{% load humanize %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_title %}
    Update Post
{% endblock %}

{% block extras %}


    {# Random numbers added to bypass potential browser caching. #}
    <link rel="stylesheet/less" type="text/less" href="{{ STATIC_URL }}{{ SITE_STYLE_CSS }}?x={% rand_num %}">
    <script>
      less = {
        async: true,
      }
    </script>


    <script type="text/javascript" src="{% static "lib/pagedown/Markdown.Converter.js?x=" rand_num %}"></script>
    <script type="text/javascript" src="{% static "lib/pagedown/Markdown.Sanitizer.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/pagedown/Markdown.Editor.js?x=" rand_num %}"></script>
    <script type="text/javascript" src="{% static "lib/pagedown-extra/Markdown.Extra.js?x=" rand_num %}"></script>
    <script src="{%static "run_prettify.js" %}"></script>

    {#  Markdown editor style #}
    <link rel="stylesheet" href={% static "lib/pagedown/markdown.css" %}>
    <link rel="stylesheet" href={% static "lib/pagedown-extra/prettify.css" %}>

{% endblock %}

{% block content %}

    <script>
        // make sure questions are only posted once
        $(function() {
            $('form').first().one('submit', function() {
                $(this).find('input[type="submit"]').attr('disabled','disabled');
            });
        });
    </script>
    <div class="row">

        <div class="col-md-9 col-md-offset-2">
            <br>
            {% crispy form %}
        </div>
    </div>

{% endblock %}
