{# Important information banner #}
{# Must be activated in support.bioconductor.org/org/bioconductor/bioc_settings.py TOP_BANNER #}

<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <h4>
                <i class="fa fa-exclamation-triangle"></i> Important Information
                Banner Here! The public Biostar site can be accessed at: <a href="http://www.biostars.org">http://www.biostars.org</a>
            </h4>
        </div>
    </div>
</div>
